header {
	background-color: black;
	font-family: 'Bellefair', serif;
	font-size: 22px;
	font-weight:400;
	width: 100%;
	height: 40px;
	top: 0;
	left: 0;
	position:fixed;

}
/*黑带 for navbar: background black; text style & size; bar margin*/

header ul {
	display: flex;
	justify-content: center;
	padding:0;
	margin:0;
}
/*字幕 for navtext: text in center*/

header ul li {
	line-height: 50px;
	text-align: center;
    margin: 0px;
    padding: 0px;
    width: 30%;
    overflow: hidden;
}
/*字列 for navlist: list整体;*/

header ul li a {
	color:#fff;
	text-decoration: none;
}
/*For navtextdetail: text white; no underline*/


body{background-color: #FFFAF0}

.title{
	text-align:center;
	margin-top: 180px;

}

.mainwork{
    font-size:25px;
	text-align:center;
	font-family: 'Bellefair', serif; 
	margin-top: 20px;
	color: black;
	margin-bottom: 200px;
    border-bottom: 20px;
    padding-bottom: 0px;
}

.box1{
    font-size:22px;
	font-family: 'Bellefair', serif; 
	margin:auto;
	width: 50%;
}

.box2{
    font-size:22px;
	font-family: 'Bellefair', serif; 
	margin:auto;
	width: 50%;
}

.box3{
    font-size:22px;
	font-family: 'Bellefair', serif; 
	margin:auto;
	width: 50%;
    margin-bottom: 150px;
}

.box4{
    font-size:22px;
	font-family: 'Bellefair', serif; 
	margin:auto;
	width: 50%;
    margin-bottom: 150px;
}

.box5{
    font-size:22px;
	font-family: 'Bellefair', serif; 
	margin:auto;
	width: 50%;
    margin-bottom: 150px;
}

.box6{
    font-size:22px;
	font-family: 'Bellefair', serif; 
	margin:auto;
	width: 50%;
    margin-bottom: 150px;
}

.box7{
    font-size:22px;
	font-family: 'Bellefair', serif; 
	margin:auto;
	width: 50%;
}

.box8{
    font-size:22px;
	font-family: 'Bellefair', serif; 
	margin:auto;
	width: 50%;
    margin-bottom: 150px;
}

.box9{
    font-size:22px;
	font-family: 'Bellefair', serif; 
	margin:auto;
	width: 50%;
    margin-bottom: 150px;
}

.box10{
    font-size:22px;
	font-family: 'Bellefair', serif; 
	margin:auto;
	width: 50%;
}

footer p{
	padding: 10px;
	color: black;
	text-align:center;
	font-size: 15px;
	font-weight: 200;
}	