header {
	background-color: black;
	font-family: 'Bellefair', serif;
	font-size: 22px;
	font-weight:400;
	width: 100%;
	height: 40px;
	top: 0;
	left: 0;
	position:fixed;
}
/*黑带 for navbar: background black; text style & size; bar margin*/

header ul {
	display: flex;
	justify-content: center;
	padding:0;
	margin:0;
}
/*字幕 for navtext: text in center*/

header ul li {
	line-height: 50px;
	text-align: center;
    margin: 0px;
    padding: 0px;
    width: 30%;
    overflow: hidden;
}
/*字列 for navlist: list整体;*/

header ul li a {
	color:#fff;
	text-decoration: none;
}
/*For navtextdetail: text white; no underline*/

.music {
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
}

.about h1{
	font-family:'Nothing You Could Do', cursive;
	letter-spacing:3px;
	font-size:50px;
	text-align: center;
	padding-top: 80px;
	padding-bottom: 450px;
	background-image:url('../img/background.png');
	background-repeat: no-repeat;
	background-width: 100%;
	background-size: 100%;
	background-attachment: fixed;
}


#profile {
	width: 200px;
	height: 200px;
	background-image: url('../img/fakeme.jpg');
	background-size: 270px;
	background-position: center;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 250px;
	margin: 0 auto;
	margin-top: 100px;
}
/*头像*/



p{
	font-family: 'Bellefair', serif;
	font-size: 20px;
	letter-spacing: 1px;
	text-align: center;
	padding-top: 20px;
	padding-left: 350px;
	padding-right: 350px;
}


footer {
	background-color: white;
	width: 100%;
	height: auto;
	padding-top: 50px;
	text-align: center;
}

footer .socialmedia img {
	margin: 50px;
	margin-top: 10px;
	width:30px;
	height:30px;
}



footer p{
	padding: 10px;
	color: black;
	text-align: center;
	font-size: 15px;
	font-weight: 200;
}	